:root {
  /* STYLE GUIDE */

  /* COLOR - SLATE */

  --slate300: #d5e1ef;
  --slate500: #68778d;
  --slate900: #1f314f;
  --white: #ffffff;

  /* SPACING */

  --spacing200: 16px;
  --spacing300: 24px;
  --spacing500: 40px;

  /* TYPOGRAPHY */

  --titleFont: "Outfit", sans-serif;

  /*
  TITLE CSS
   --text-preset-1: {
    font-family: var(--titleFont);
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0px;
  };

  DESCRIPTION CSS
  --text-preset-2: {
    font-family: var(--titleFont);
    font-size: 15px;
    font-weight: regular;
    line-height: 140%;
    letter-spacing: 0.2px;
  }
     */
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--titleFont);
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: var(--titleFont);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body{
    height: 100dvh;
    width: 100dvw;
}

main{
    background-color: var(--slate300);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-card{
    background-color: var(--white);
    max-width: 320px;
    max-height: 499px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing300);
    padding: var(--spacing200) var(--spacing200) var(--spacing500);
    border-radius: 20px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
    filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.0477));
}

.qr-box{
    width: 100%;
}

.qr-box img{
    max-width: 100%;
    border-radius: 10px;
}

.text-box{
    display: flex;
    flex-direction: column;
    gap: var(--spacing200);
    padding: 0 var(--spacing200);
}

/* TITLE CSS */
.text-box_title{
    font-family: var(--titleFont);
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    color: var(--slate900);
}

/* DESCRIPTION CSS */
.text-box_description{
    font-family: var(--titleFont);
    font-size: 15px;
    font-weight: regular;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--slate900);
}

.attribution{
    position: absolute;
    top: 93dvh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}